/*�f�t�H���g�̐ݒ�*/
*{margin:0;padding:0}
/*�w�b�_�̐ݒ�*/
div#header

{
/*�{�b�N�X�̐ݒ�*/
padding: 0 0 0 2%;/*�g��]��*//*��E�����̗]��*/
background:#3f3f47;
color: #f03351;
}

/*�i�r�̐ݒ�*/
div#navi
{
/*�{�b�N�X�̐ݒ�*/
padding: 0 0 0 2%;/*�g��]��*//*��E�����̗]��*/
float:center;/*��荞��*//*����*/
}
