/*デフォルトの設定*/
*{margin:0;padding:0}
/*ヘッダの設定*/
div#header

{
/*ボックスの設定*/
padding: 0 0 0 2%;/*枠内余白*//*上右下左の余白*/
background:#3f3f47;
color: #f03351;
}

/*ナビの設定*/
div#navi
{
/*ボックスの設定*/
padding: 0 0 0 2%;/*枠内余白*//*上右下左の余白*/
float:center;/*回り込み*//*左寄せ*/
}
