/*デフォルトの設定*/
*{margin:0;padding:0}

/*ヘッダの設定*/
div#header{
	/*ボックスの設定*/
	padding: 0 0 0 0%;/*枠内余白*//*上右下左の余白*/
	background: #3f3f47;/*背景*//*色*/
	/*文字の設定*/
	color: #f03351;/*文字の色*//*白*/
}

/*コンテンツの設定*/
div#content{
	padding: 0 0 0 0%;/*枠内余白*//*上右下左の余白*/
	background: #f3f3e7;/*背景*//*色*/
}